.record {
    font-size: 20px;

    .record-date {

    }

    .record-bins {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .record-members {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .record-payment {
        cursor: pointer;
    }

    img {
        margin-left: 5px;
        height: 25px;
        width: auto;
    }
}

.paid {
    color: #76a102;
}

.not-paid {
    color: #E72200;
}