.container {
    width: 100%;
    padding: 20px;
}

.navbar {
    background-color: #ffffff;
    width: calc(100vw - 40px);
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logo {
    cursor: pointer;
    width: 40px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option {
    transition: all 0.5s;
    cursor: pointer;
    width: 40px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: #373737; 
    }

    img {
        height: 30px;
        width: auto;
    }

    &:hover {
        background-color: #D6C991; 
    }

    &:active {
        background-color: #D6C991; 
     }
}

.active {
    // border: 1px solid #BFD87B;
    a {
        color: #BFD87B;
    }

    img {
        
    }

    &:hover {
        a {
            color: #373737;  
        }
        background-color: #BFD87B;
    }
}

.btncolors {
    background-color: #BFD87B;
    background-color: #D6C991;
    background-color: #E3E8CF;
    background-color: #373737;
}