.container {
    width: calc(100% - 40px);
    position: fixed;
    left: 20px;
    top: 20px;
}

.navbar {
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logo {
    cursor: pointer;
    min-width: 40px;
    width: 40px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.options {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option {
    cursor: pointer;
    height: 100%;
    border: none;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: #373737; 
    }

    img {
        height: 30px;
        width: auto;
    }

    &:hover {
        border-bottom: 4px solid #D6C991;
    }

    &:active {
        border-bottom: 4px solid #D6C991;
     }
}

.active {
    // background: radial-gradient(#BFD87B, 10%, #fff);
    border-bottom: 4px solid #BFD87B;
}

.btncolors {
    background-color: #BFD87B;
    background-color: #D6C991;
    background-color: #E3E8CF;
    background-color: #373737;
}

@media only screen and (max-width: 400px) {
    .option {
        margin-right: 10px;
    }
}