<div class="container">
    <div class="navbar">
        <div class="logo-container">
            <img src="favicon.ico" alt="Pikiwi" class="logo" [routerLink]="['/home']">
        </div>

        <ul class="options">
            <li class="option" routerLinkActive="active" [routerLink]="['/calculator']">
                <img src="assets/icons/calculator.png" alt="">
            </li>
            <li class="option" routerLinkActive="active" [routerLink]="['/timer']">
                <img src="assets/icons/timer.png" alt="">
            </li>
            <li class="option" routerLinkActive="active" [routerLink]="['/records']">
                <img src="assets/icons/records.png" alt="">
            </li>
            <li class="option" routerLinkActive="active" [routerLink]="['/login']">
                <img src="assets/icons/login.png" alt="">
            </li>
            <li class="option" routerLinkActive="active" [routerLink]="['/signup']">
                <img src="assets/icons/signup.png" alt="">
            </li>
        </ul>
    </div>
</div>