.main {
    margin: 0;
    padding: 0;
    background-color: #fdfff6;
    // background-color: #f8f8f8;
}

.container {
    height: calc(100vh - 100px);
    margin: 0;
    padding: 0 20px;
}

.calculator {
    background-color: #ffffff;
    width: calc(100vw - 40px);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-container {
    width: 100%;
    padding: 15px 0;
}

.input-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #373737;

    label {
        font-size: 18px;
        margin: 0 0 5px 0;
    }

    input {
        text-align: center;
        min-width: 120px;
        width: 50%;
        height: 40px;
        font-size: 20px;
        border: 1px solid #c5c5c5;
        border-radius: 15px;
        padding: 0 15px;
    }

    button {
        min-width: 120px;
        width: 50%;
        height: 40px;
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
        background-color: #BFD87B;
        border-radius: 15px;
    }
}