h1 {
    text-align: center;
    color: #96a863;
}

label {
    font-size: 18px;
    margin: 0 0 10px 0;
    text-align: center;
}

img {
    height: 50px;
    width: auto;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 48%;
    min-width: 115px;
    max-width: 300px;
    margin-right: 1%;
    margin-left: 1%;
    cursor: pointer;

    &:hover, &:active {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px, inset 0 -4px 0  #D6C991;
    }
}